.navbar {
  padding: 10px;
  background-color: #eee;
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin: 5px 20px;
}

.navbar a:hover {
  color: #007bff;
}